.menu{
    margin-bottom: 70px;
}

.menu-sup{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.menu-sup-search{
    width: 70%;
    height: 5vh;
    border-radius: 20px;
    border: 1px solid grey;
    padding-left: 15px;
}

.menu-sup-search:hover{
    border-color: #2C3E50;
}